<!doctype html>
<title>Upload new File</title>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endwith %}
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
</form>

<img src="data:image/jpeg;base64,{{ imgEncoded }}" />

<h2>image labels</h2>
<pre>
{{ imageLabels }}
</pre>
